@charset "utf-8";

.header{
    background: #3f4752;
    height: 50px;
    line-height: 50px;
}
@media print{
    .header{
        display: none;
    }
}
.head-text{
    cursor: pointer;
    font-size: 18px;
    color: #fcfcfc;
    font-weight: bold;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}
.btn-nav:hover{
    background: #353c46;
    color: #fcfcfc;
}

.search-form{
    margin: 10px 0;
}
