@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
video{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}